@font-face {
  font-family: 'Rubik';
  src: url(font/rubik.ttf);
}

*{
  margin: 0;
  padding: 0;
  user-select: none;
}

body{
  font-family: 'Rubik', sans-serif;
}

/* DESKTOP SECTION */
body.rpi_dbody{
  background: #2a377e;
  color: white;
}

div.rpi_dbox{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4358ca8f;
  padding: 25px;
  border-radius: 50px;
  text-align: center;
  width: 500px;
}

div.rpi_dbox > h1.title{
  margin-bottom: 0px;
}

div.rpi_dbox > hr{
  margin: 2rem 0;
}

div.rpi_dbox > .rpi_dbtn{
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
}

div.rpi_dfooter{
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #ffffff90;
  font-size: 13px;
  width: 100%;
}


/* MOBILE SECTION */
