@font-face {
  font-family: 'Rubik';
  src: url(font/rubik.ttf);
}

*{
  margin: 0;
  padding: 0;
  user-select: none;
}

body{
  font-family: 'Rubik', sans-serif;
}

/* DESKTOP SECTION */
body.rpi_dbody{
  background: #2a377e;
  color: white;
}

div.rpi_dbox{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4358ca8f;
  padding: 25px;
  border-radius: 50px;
  text-align: center;
  width: 500px;
}

div.rpi_dbox > h1.title{
  margin-bottom: 0px;
}

div.rpi_dbox > hr{
  margin: 2rem 0;
}

div.rpi_dbox > .rpi_dbtn{
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
}

div.rpi_dfooter{
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #ffffff90;
  font-size: 13px;
  width: 100%;
}


/* MOBILE SECTION */
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

#preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #2a377e;
  transition: 500ms;
  z-index: 1000;
}

#preloader > img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rpi_mcontainer{
  padding: 0px;
}

.rpi_mcontainer > .nav{
  padding: 15px;
  background: #0f1964;
  color: white;
}

.rpi_mcontainer > .nav > a{
  color: white;
}

.rpi_mcontainer > .nav > .title{
  font-size: 23px;
  margin-left: 10px;
}

.rpi_mcontainer > .rpi_mfaderpage > .header{
  background: #2a377e;
  height: 300px;
  margin: 0px;
  text-align: center;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.rpi_mcontainer > .rpi_mfaderpage > .header > img{
  margin-top: 70px;
}

.rpi_mcontainer > .rpi_mfaderpage > .header > p.subtitle{
  color: white;
}

.rpi_mcontainer > .rpi_mfaderpage > .content{
  margin-top: 25px;
  text-align: center;
}

.rpi_mcontainer > .rpi_mfaderpage > .content > .row{
  width: 100%;
}
