@font-face {
  font-family: 'Rubik';
  src: url(font/rubik.ttf);
}

*{
  margin: 0;
  padding: 0;
  user-select: none;
}

html, body {
  overscroll-behavior: none;
}

body{
  font-family: 'Rubik', sans-serif;
}

/* DESKTOP SECTION */
div.rpi_dbody{
  background: #2a377e;
  color: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

div.rpi_dbox, div.rpi_dbox_mobile{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4358ca8f;
  padding: 40px 25px;
  border-radius: 15px;
  text-align: center;
  width: 500px;
}

div.rpi_dbox_mobile {
  width: 90%;
  max-width: 430px;
  color: white;
  border-radius: 10px;
  max-height: 475px;
  overflow: auto;
}

div.rpi_dbox > h1.title, div.rpi_dbox_mobile > h1.title{
  margin-bottom: 0px;
}

div.rpi_dbox > hr, div.rpi_dbox_mobile > hr{
  margin: 1.7rem 0;
  background: none;
  border-color: #2a377eaa !important;
  border-style: dashed;
}

div.rpi_dbox > .rpi_dbtn, div.rpi_dbox_mobile > .rpi_dbtn{
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}

div.rpi_dfooter{
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff90;
  font-size: 13px;
  width: 90%;
  text-align: center;
}


/* MOBILE SECTION */
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

#preloader, .rpi_mpreloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #2a377e;
  transition: 500ms;
  z-index: 1000;
}

#preloader > img, .rpi_mpreloader > img{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 305px;
}

.rpi_mcontainer{
  padding: 0px;
}

.rpi_mcontainer > .nav{
  padding: 15px;
  background: #0f1964;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.rpi_mcontainer > .nav > a{
  color: white;
}

.rpi_mcontainer > .nav > .title{
  font-size: 23px;
  margin-left: 10px;
}

.rpi_menu{
  background: #2a377e;
  color: white;
}

.rpi_menu > .offcanvas-header{
  background-color: #0f1964;
  height: 60px;
}

.rpi_menu > .offcanvas-header > .rpi_btn_close{
  border: none;
  background: none;
  color: #ffffffaa;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
}

.rpi_menu > .offcanvas-header > .rpi_btn_close:hover{
  color: #ffffff;
}

.rpi_menu > .offcanvas-body > a{
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.15rem;
  margin-bottom: 15px;
  transition: 0.3s;
}

.rpi_menu > .offcanvas-body > a:hover{
  margin-left: 10px;
  font-weight: 500;
}

.rpi_mcontainer > .rpi_mfaderpage > .header{
  background: #2a377e;
  height: 275px;
  margin: 0px;
  text-align: center;
  box-shadow: 0px 0px 10px 3px #00000091;
}

.rpi_mcontainer > .rpi_mfaderpage > .header > img{
  margin-top: 90px;
  width: 315px !important;
}

.rpi_mcontainer > .rpi_mfaderpage > .header > p.subtitle{
  color: white;
}

.rpi_mcontainer > .rpi_mfaderpage > .content{
  text-align: center;
  width: 90%;
  max-width: 375px;
  min-width: 335px;
  background: white;
  padding: 17px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px #0003;
  position: absolute;
  top: 235px;
  left: 50%;
  transform: translateX(-50%);
  max-height: calc(100vh - 255px);
  overflow: auto;
}

.rpi_mcontainer > .rpi_mfaderpage > .content > .home-selectTitle{
  margin-bottom: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b5fd1;
  border-radius: 10px;
  transition: 250ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3447af;
}

.rpi_mfooter{
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #00000090;
  font-size: 13px;
  width: 100%;
}
